# Discord
DISCORD_TOKEN=coloque_seu_token_aqui

# IDs
GUILD_ID=930607951071281222
INATIVO_ROLE_ID=1398734393698160780
LOG_CHANNEL_ID=1464971812495560785

# Anti-spy (voz oculta)
# Canal de entrada: ao entrar aqui, o bot move para o canal oculto (se tiver o cargo abaixo).
TRIGGER_VOICE_CHANNEL_ID=1478905878974435590
# Canal oculto que deve ficar invisível/inacessível por padrão para @everyone.
HIDDEN_VOICE_CHANNEL_ID=1479856701426630828
# Cargo/tag necessário para ser movido para o canal oculto.
HIDDEN_ACCESS_ROLE_ID=1091176240624451686

# Regras
DIAS_PARA_INATIVO=7
DIAS_PARA_REVISAO=30

# Persistência
DB_PATH=dados.db
LEGACY_JSON_PATH=dados.json

# Paginação
PAGE_SIZE=20
